
/*== My Account Page Start ==*/


.img-responsive{
    max-width: auto;
    height: 100%;
}

.p-tb-100{
    padding: 100px 0px;
}

.myaccount-tab-menu {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-tab-menu a {
    border: 1px solid #c5c5c5;
    color: #727272;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}



.myaccount-tab-menu a:hover, .myaccount-tab-menu a.active {
    background-color: orange;
    color: #222;
}

.myaccount-tab-menu a i {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 25px;
}

.myaccount-content {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #c5c5c5;
    background-color: #fff;
    padding: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .myaccount-content {
        padding: 20px 15px;
    }
}

.myaccount-content h3 {
    font-size: 2.2rem;
    line-height: 1.5;
    border-bottom: 1px dashed #c5c5c5;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.myaccount-content .welcome a {
    color: #000;
}

.myaccount-content .welcome a:hover {
    color: orange;
}

.myaccount-table {
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
}

.myaccount-table table th, .myaccount-table .table th {
    color: #202020;
    padding: 10px;
}

.myaccount-table table td, .myaccount-table .table td {
    padding: 20px 10px;
}

.myaccount-table table .btn-add-to-cart, .myaccount-table .table .btn-add-to-cart {
    border-width: 1px;
}

.saved-message {
    background-color: #f4f5f7;
    border-top: 3px solid var(--primary-color);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #202020;
    padding: 20px;
}


.user-leftbar-details{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}
.user-leftbar-details h5{
    margin: 0px;
    color: magenta;
    text-align: left;
}
.user-leftbar-details p{
    margin: 0px;
    text-align: left;
}
.user-leftbar-details img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


/*== My Account Page End ==*/

/*===============chatbox==========**/
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom:1px solid #eee;
}
.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}
.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-control>.btn:last-child, .panel-control>.btn-group:last-child>.btn:first-child {
    border-bottom-right-radius: 0;
}
.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-block .media-left {
    display: block;
    float: left;
}
.img-sm {
    width: 46px;
    height: 46px;
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech {
    position: relative;
    background: #b7dcfe;
    color: #317787;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
}
.speech:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #b7dcfe;
    margin: 15px 0 0 -6px;
}
.speech-right>.speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffdc91;
    border-right: 0;
    margin: 15px -6px 0 0;
}
.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}
.media-block .media-right {
    float: right;
}
.speech-right {
    text-align: right;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech-right>.speech {
    background: #ffda87;
    color: #a07617;
    text-align: right;
}
.speech-right>.speech .media-heading {
    color: #a07617;
}
.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
}


.nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}


textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
/*===============chatbox==========**/